{% extends "base.html" %}
{% block content %}
<h2>{{ doc.title }}</h2>

<div class="row">
    <div class="col-md-1">
        <strong>Date</strong>
    </div>
    <div class="col-md-3">
        {{ doc.document_date }}
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <strong>author</strong>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <strong>description</strong>
    </div>
    <div class="col-md-3">
        <div class="'prewrap">{{ doc.description if doc.description != None }}</div>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <strong>state</strong>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <strong>is_public</strong>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <strong>Tags</strong>
    </div>
</div>

<div>
    {% for tag in doc.tags|sort %}
    <a href="{{ url_for('search') }}?tags={{ tag }}" class="btn btn-default btn-inlineblock">{{ tag }}</a>
    {% endfor %}
</div>

<div class="row">
    <div class="col-md-1">
        <strong>Files</strong>
    </div>
</div>
{% for file in files|sort %}
<div class="row">
    <div class="col-md-8">
        <a class="btn btn-link truncate" href="{{ url_for('download', uuid=doc.uuid, file=file) }}">{{ file }}</a>
    </div>
</div>
{% endfor %}
<a class="btn btn-warning" href="{{ url_for('edit', uuid=doc.uuid) }}">Edit document</a>
{% endblock %}
