{% extends "base.html" %}
{% block content %}
<table>
    <tr><td>title:</td><td>{{ doc.title }}</td></tr>
    <tr><td>Date:</td><td>{{ doc.document_date }}</td></tr>
    <tr><td>author:</td><td>{{ doc.author}}</td></tr>
    <tr><td>description:</td><td>{{ doc.description if doc.description != None }}</td></tr>
    <tr><td>state:</td><td>{{ for state in doc.state }}</td></tr>
    <tr><td>is_public:</td><td>{{ doc.is_public }}</td></tr>
    <tr><td>tags:</td><td>
        <ul>
            {% for for tag in doc.tags %}
            <li>{{ tag }}</li>
            {% endfor %}
        </ul>
    </td>
    </tr>
    <tr><td>Files</td></tr>
</table>
{% endblock %}
