{% extends "base.html" %}

{% block head %}
<a href="{{ url_for('document', uuid=doc.uuid) }}">View</a>
{% endblock %}

{% block content %}
<h2>General</h2>
<form method="post" action="{{ url_for('save', uuid=doc.uuid) }}">
    <table>
        <tr><td>title:</td><td><input type="text" name="title" value="{{ doc.title }}"></td></tr>
        <tr><td>date:</td><td><input type="text" name="date" value="{{ doc.document_date }}"></td></tr>
        <tr><td>author:</td><td><input type="text" name="author" value="{{ doc.author }}"></td></tr>
        <tr><td>description:</td><td><textarea name="description" cols=70 rows=10>{{ doc.description if doc.description != None }}</textarea></td></tr>
        <tr><td>state:</td><td><input type="text" name="state" value="{{ doc.state }}"></td></tr>
        <tr><td>is_public:</td><td><input type="text" name="is_public" value="{{ doc.is_public }}"></td></tr>
    </table>
    <input type="submit" value="Save">
</form>

<h2>Tags</h2>
<ul>
    {% for tag in doc.tags|sort %}
    <li>
        {{ tag }}
        <form method="post" action="{{ url_for('save', uuid=doc.uuid) }}">
            <input type="hidden" name="tag" value="{{ tag }}">
            <input type="submit" name="deltag" value="Delete">
        </form>
    </li>
    {% endfor %}
</ul>
<form method="post" action="{{ url_for('save', uuid=doc.uuid) }}">
    <input type="text" name="tag">
    <input type="submit" name="addtag" value="Add tag">
</form>

<h2>Files</h2>
<ul>
    {% for file in files %}
    <li>
        <a href="{{ url_for('download', uuid=doc.uuid, file=file) }}">{{ file }}</a>
        <form method="post" action="{{ url_for('save', uuid=doc.uuid) }}">
            <input type="hidden" name="file" value="{{ file }}">
            <input type="submit" name="delfile" value="Delete">
        </form>
    </li>
    {% endfor %}
</ul>

<form method="post" action="{{ url_for('upload', uuid=doc.uuid) }}" enctype="multipart/form-data">
    <input type="file" name="document">
    <input type="submit">
</form>

<a href="{{ url_for('delete', uuid=doc.uuid) }}">Delete</a>
{% endblock %}
